.black {
	background: black;
}
#footer {
	.nav {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.5rem;
		font-family: arial, helvetica;
		& > li {
			display: inline-block;
			a {
				color: white;
				padding: 25px 15px 15px;
				-webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
				&:focus,
				&:hover {
					text-decoration: none;
					background-color: transparent;
					color: yellow !important;
				}

				@media (max-width: $small) {
					padding: 10px 15px;
				}
			}
		}
	}
	.footer-text {
		color: white;
		text-align: center;
		font-family: arial;
	}
}

#terms, #contact {
	font-family: arial, helvetica;
	p {
		margin-bottom: 30px;
	}
	h1, h2, h3, h4, h5 {
		font-weight: bold;
	}
}

#contact {
	font-size: 1.4rem;
	font-family: arial;
	font-weight: bold;

	.wpcf7-form-control-wrap  {
		input, textarea {
			width: 100%;
		}
		textarea {
			height: 150px;
		}
	}

	.wpcf7-form-control.wpcf7-submit {
		width: 100%;
	}

	.address {
		font-size: 1.8rem;
		padding-left: 50px;
		font-weight: normal;
		text-transform: uppercase;
		font-family: 'Arial', sans-serif;
	}
}
