@mixin vertical-align() {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

header.navbar {
	background-color: #363435;
	border-bottom: 12px solid #E9353D;
	-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
	padding-top: 10px;
	padding-bottom: 0;

	@media (max-width: $small) {
		border-bottom-width: 5px;
	}

	&>.container {
		display: table;
		height: auto;
		@media (max-width: $small) {
			padding-left: 8px;
			padding-right: 8px;
		}
		text-align: center;
	}

	.header-logo,
	.header-middle,
	.header-right
	{
		display: inline-block;
		vertical-align: middle;
		text-align: center;
	}

	.header-logo {
		width: 23%;
		a {
			img {
				max-width: 100%;
			}
			&:hover {
				opacity: 0.7;
			}
		}

		@media (max-width:$small) {
			margin-left: 0;
			width: 33%;
		}
	}
	.header-middle {
		width: 62%;
		@media (max-width:$small) {
			width: 35%;
		}
	}

	.header-tagline {
		color: white;
		text-transform: uppercase;
		font-size: 1.7rem;

		@media (max-width: $large) {
			font-size: 25px;
			text-align: center;
		}

		@media (max-width: $medium) {
			font-size: 18px;
		}

		@media (max-width: $small) {
			width: 90%;
			margin-left: 5%;
			font-size: 14px;
			padding: 0;
		}
	}

	.header-right {
		width : 9%;
		@media (max-width:$small) {
			width: 15%;
		}
	}

	.header-cart {
		font-size: 1.3rem;

		.wpmenucart-contents {
			color: #FEF03A;
		}

		.nav>li>a {
			&:focus,
			&:hover {
				background: none;
				color: white;
			}
			padding: 0;
		}

		@media (max-width: $small) {
			font-size: 2.0rem;
		}
	}


	@media (max-width: $small) and (orientation:landscape) {
		.header-tagline {
			display: none !important;
		}
		padding-top: 5px;
		padding-bottom: 5px;
		.header-logo {
			width: 30%;
		}
		.header-middle {
			width: 40%;
		}
		.header-right {
			width: 13%;
		}
	}
}
